//colors
$color-primary: #7b4888be;
$color-primary-light: #d79de6be;
$color-primary-dark: #4a1058b7;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: black;

//Grid