//functionality
.card {
    perspective: 150rem;
    position: relative;
    height: 50rem;



    &__side {
        height: 50rem;
        transition: all .5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 2rem 1.5rem 4rem rgba($color-black, .15);

        &--front img {  
            // url(../img/deadline.jpg);
            background-size: cover;
            height: 50rem;
            opacity: 80%;

                // &::before {  
                //     background: linear-gradient(
                //         to right bottom,
                //         rgba($color-primary-light, 0.5),
                //         rgba($color-primary-dark, 0.5));
                // }
            &.overlay{
                z-index: 100;
                background-image: linear-gradient(
                to right bottom,
                rgba($color-primary-light, 0.5),
                rgba($color-primary-dark, 0.5));
 
            }
        }


        &--front {
            background-image: linear-gradient(
                to right bottom,
                rgba($color-primary-light, 0.5),
                rgba($color-primary-dark, 0.5));
        }


        &--back {
            background: linear-gradient(
                to right bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8));
            transform: rotateY(180deg);
        }
    }    
    
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    //front side styling
    // &__picture {
    //     background-image: linear-gradient(
    //             to right bottom,
    //             rgba($color-primary-light, 0.5),
    //             rgba($color-primary-dark, 0.5)),
    //             url(../img/deadline.jpg);
    //     background-size: cover;
    //     height: 23rem;
    //     clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%)
    // }   

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 14rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        border-radius: 2px;
        background-image: linear-gradient(
                to right bottom,
                rgba($color-primary-light, 0.85),
                rgba($color-primary-dark, 0.85));
    }

    &__details {
        padding: 3rem;
        margin: -3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 4rem auto;
            color: $color-white;


            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }
}  

