.section-about {
    background-color: $color-grey-light-1;
    padding: 30rem 0;
    margin-top: -20vh;
}
.grid-text {
    grid-column-start: 1 span 1;
    grid-row-start: 1 span 1;
    background-color: pink;

}

.grid-images {
    grid-column-start: 2 span 1;
    grid-row-start: 1 span 1;
    background-color: greenyellow;
}